.blog-page-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    max-width: 1120px;
    margin: auto;
    padding: 1rem;
    gap: 1rem;
    margin-top: 1rem;
    h1{
        text-align: center;

    }
}

.blog-cards-container{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 2rem;
    justify-content: center;
    li:hover{
        transition: 0.3s ease-in-out;
        box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.20);
    }
    li{
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        background-color: var(--teal5);
        height: 300px;
        width: 340px;
        display: grid;
        grid-template-rows: 1fr 2fr;
        border-radius: 10px;
        :nth-child(1){
            display: flex;
            margin-left: 1rem;
            margin-top: 1rem;
            justify-content: flex-start;
            text-align: left;
        }
        :nth-child(2){
            background-color: teal;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            border-radius: 0px 0px 10px 10px;
            padding: 0 1rem 1rem 1rem;
        }

        }
    }

    @media screen and (min-width: 1080px) {
        .blog-page-wrapper{
            margin-top: 2rem;
            .blog-cards-container{
                justify-content: flex-start;
            }
            h1{
                text-align: left;
                margin-bottom: 2rem;
            }
        }
    }