header {
  height: 96px;
  width: 100%;
  @media screen and (min-width: 1080px) {
    height: 128px;
  }
  .header_nav {
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, var(--teal4) 0%, var(--teal6) 100%);
    z-index: 10;
    position: fixed;
    width: 100vw;
    height: 96px;
    transition: height 0.5s;
    overflow: hidden;
    @media screen and (min-width: 1080px) {
      height: 128px;
      flex-direction: row;
      display: grid;
      grid-template-columns: 1fr 6fr;
    }
    .logo_burger {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      min-height: 96px;
      @media screen and (min-width: 1080px) {
        height: 128px;
      }
      .logo_link {
        padding: 1rem;
        width: 76.8px;
        height: 69.6px;
        position: relative;
        display: block;
        @media screen and (max-width: 1080px) {
          left: 0.65rem;
        }

        @media screen and (min-width: 1080px) {
          margin: 0 auto;
          width: 96px;
          height: 87px;
        }
        .logo {
          position: absolute;
          object-fit: cover;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
        }
      }
      .menu-btn {
        padding-right: 1rem;
        display: flex;
        flex-direction: column;
        gap: 9px;

        @media screen and (min-width: 1080px) {
          display: none;
        }
        cursor: pointer;
        .btn-line {
          width: 36px;
          height: 3px;
          background: var(--black);
          transition: all 0.5s ease-out;
          border-radius: 50px;
        }
      }
      .menu-btn.close .btn-line:nth-child(1) {
        transform: rotate(45deg) translate(8px, 9px);
      }
      .menu-btn.close .btn-line:nth-child(2) {
        opacity: 0;
      }
      .menu-btn.close .btn-line:nth-child(3) {
        transform: rotate(-45deg) translate(8px, -9px);
      }
    }

    a:not(.cta) {
      color: var(--black);
    }

    .desktop_links {
      visibility: hidden;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      z-index: 1;
      font-size: var(--h4);
      opacity: 0;
      height: 100%;
      transform: translateY(-50px);
      transition: all 0.5s;
      @media screen and (min-width: 1080px) {
        visibility: visible;
        flex-direction: row;
        opacity: 1;
        transform: translate(0);
        align-items: center;
        justify-content: space-around;
        width: 100%;
        font-size: 18px;
        a:not(.cta) {
          border: solid 2px transparent;
        }
        .cta {
          margin: 0;
          width: 190px;
          padding: 0.5rem;
        }
      }

      .nav2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        font-size: var(--h5);
        @media screen and (min-width: 1080px) {
          flex-direction: row;
          font-size: 1rem;
        }
        .language_toggle {
          display: flex;
          .selectedLang {
            background-color: var(--teal3);
          }
          .language_btn {
            padding: 0 0.5rem;
            border-radius: 4px;
            cursor: pointer;
          }
        }
      }
    }
    .desktop_links.open {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
      transition: all 0.5s;
      gap: 1.5rem;
    }
    @media screen and (min-width: 1080px) {
      .desktop_links a.active {
        border-bottom: solid 2px var(--teal3);
      }
    }
  }
  .header_nav.show_menu {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(180deg, var(--teal4) 0%, var(--teal6) 70%);
    transition: height 0.5s;
    @media screen and (min-width: 1080px) {
      height: 128px;
    }
  }
}
