.services-hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem ;
    padding: 2rem 1rem 2rem 1rem;
    :nth-child(1){
        max-width: 500px;
    }
    :nth-child(2){
        max-width: 700px;
    }
}
.strategies{
    padding: 2rem;
    display: grid;
    gap: 2.5rem;
    > div{
        border-top: 2px solid var(--teal3);
        display: flex;
        flex-direction: column;
        > h3{
            padding-bottom: 1rem;
        }
        > ul{
            padding-bottom: 1.5rem;
            margin-left: 2rem;
        }
        > p{
            max-width: 500px; 
        }
    }
}